<!-- Footer -->
<div class="row" id="footer">
  <div class="six columns offset-by-six">
    <ul>
      <li class="footer-info">
        <form class="custom" id="select_language_form">
          <select style="display: none" id="select_language" name="language">
            <option {% if page.lang == "en" %}selected="selected"{% endif %} value="{{ "/" | relative_url }}">English</option>
            <option {% if page.lang == "de" %}selected="selected"{% endif %} value="{{ "/de" | relative_url }}">Deutsch</option>
            <option {% if page.lang == "bg" %}selected="selected"{% endif %} value="{{ "/bg" | relative_url }}">Български</option>
          </select>
          <div class="custom dropdown">
            <a href="#" class="current">Select Language:</a>
            <a href="#" class="selector"></a>
            <ul>
              <li><a href="{{ "/" | relative_url }}">English</a></li>
              <li><a href="{{ "/de" | relative_url }}">Deutsch</a></li>
              <li><a href="{{ "/bg" | relative_url }}">Български</a></li>
            </ul>
          </div>
        </form>
      </li>
      <li class="footer-info">ATIKA Consult Ltd &copy; 2012 &ndash; 2019</li>
    </ul>
  </div>
</div>
<!-- /Footer -->