<!-- Header -->
<div class="row header-row">

  <div class="a-header clearfix large-6 columns small-12">
    <div id="a-area-14-logo" class="a-area a-normal a-area-logo singleton aButton clearfix">
      <div id="a-slots-14-logo" class="a-slots clearfix">
        <div class="a-slot a-normal  aButton clearfix" data-pageid="14" data-name="logo" data-permid="3" id="a-slot-14-logo-3">
          <div class="a-slot-content clearfix" id="a-slot-content-14-logo-3">
            <ul id="a-button-14-logo-3" class="a-button default">
              <li class="a-button-image"><a href="/bg"><img alt="" src="/images/logo.png" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="large-6 columns small-12">
      <ul class="clearfix nav-bar">
        <li><a class="main" href="/en">Home</a></li>
        <li class="has-flyout">
          <a href="#" class="main" onclick="return false">Company</a>
          <a href="#" class="flyout-toggle" onclick="return false"><span></span></a>
          <div class="flyout small" style="display: none">
            <ul>
              <li><a href="/en/company/about">About</a></li>
              <li><a href="/en/company/team">Team</a></li>
              <li><a href="/en/company/careers">Careers</a></li>
              <li><a href="/en/company/impressum">Impressum</a></li>
              <li><a href="/en/company/references">References</a></li>
            </ul>
          </div>
        </li>
        <li class="has-flyout">
          <a href="#" class="main" onclick="return false">Projects</a>
          <a href="#" class="flyout-toggle" onclick="return false"><span></span></a>
          <div class="flyout small" style="display: none">
            <ul>
              <li><a href="/en/projects/architecture">Architecture</a></li>
              <li><a href="/en/projects/construction">Construction</a></li>
              <li><a href="/en/projects/competitions">Competitions</a></li>
              <li><a href="/en/projects/art-works">Art works</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a class="main" href="/en/company/contacts">Contacts</a>
        </li>
      </ul>
    </div>

</div>
<!-- /Header -->