<!doctype html>
<!--[if lt IE 7 ]>        <html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js ie6 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>           <html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js ie7 lt-ie9 lt-ie8">        <![endif]-->
<!--[if IE 8 ]>           <html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js ie8 lt-ie9">               <![endif]-->
<!--[if IE 9 ]>           <html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js ie9">                      <![endif]-->
<!--[if (gt IE 9)|!(IE)]> <html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js">                          <![endif]-->
{%- include head.html -%}
<body class="home-template a-page-id-1 a-page-depth-0 logged-out">
  <div class="clearfix">
    {%- include header.html -%}

    <div class="a-content clearfix row">
      {{ content }}
    </div>
    <!-- .a-content -->

  </div>
  <!-- .a-wrapper -->

  {%- include footer.html -%}

  <img class="bg" alt="" src="/images/backgrounds/home.png" />
</body>
</html>